VITE_ENV=local

VITE_WS_URL_LOCAL=ws://localhost:8080
VITE_WS_URL_PROD=wss://reversionmediatrading.onrender.com

VITE_API_URL_LOCAL=http://localhost:8080
VITE_API_URL_PROD=https://reversionmediatrading.onrender.com