# ─── Servidor ────────────────────────────────────────────────────────────────
PORT=8082

# MIS KEY TWELVE DATA GENERAL (!!!NO DESCOMENTAR!!!)
# johanriascos7777@gmail.com:(SYMBOL:EUR/USD) 1235456
# desarrollador7777@gmail.com:(SYMBOL:LIBRE) 8765
# ejohan7777@gmail.com: (SYMBOL:LIBRE) 6789
# h4ck.h4v3n@gmail.com: (SYMBOL:LIBRE) 12345
# iohan7777@proton.me: (SYMBOL:LIBRE) 1234



# ─── Twelve Data (Legacy / Fallback) ─────────────────────────────────────────
# EUR/USD
TWELVE_DATA_API_KEY=12345,
TWELVE_DATA_SYMBOL=EUR/USD,

TELEGRAM_BOT_TOKEN=1234
TELEGRAM_CHAT_ID=1234