# ─── Servidor ────────────────────────────────────────────────────────────────
PORT=8082

# ─── Twelve Data (Legacy / Fallback) ─────────────────────────────────────────
#PROD
#TWELVE_DATA_API_KEY=

#LOCAL
TWELVE_DATA_API_KEY=
TWELVE_DATA_SYMBOL=EUR/USD

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=